body {
  position: relative;
  color:#555;
}

h1,h2,h3,h4,h5 {
  color:#555;
}

.header-image {
    min-height:600px;
    background: transparent;
    position:relative;
}

.header-msg {
    float:left;
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%;
    color:white;
}

.header-msg > h1 {
  color:white;
}

.header-msg-img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  float:left;
}
/* NAVBAR */

.navbar {
  -webkit-box-shadow: 0px -5px 20px 0px rgba(51,51,51,0.5);
  -moz-box-shadow: 0px -5px 20px 0px rgba(51,51,51,0.5);
  box-shadow: 0px -5px 20px 0px rgba(51,51,51,0.5);
}

.nav-btn:hover {
  background-color:#EEE;
}

.nav-border-l {
  border-left:1px solid #CCC;
}

.nav-border-r {
  border-right:1px solid #CCC;
}

/* LOCATION */

.service-map {
  background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Charleston,SC&zoom=7&size=640x250&maptype=roadmap&markers=color:red%7CCharleston,SC');
  min-height: 250px;
  background-position: center;
  border: 1px solid #CCC;
  border-radius: 5px;
}

/* PANELS */

.panel-body {
  height: 130px;
}

.fa-headphones {
  color: #A90B06;
  font-size: 48px;
}

.fa-money {
  color: #389532;
  font-size: 48px;
}

.fa-gift {
  color:#012F63;
  font-size:48px;
}

/* CONTACT */

#contact {
  margin-bottom:50px;
}

/* FOOTER */

#footer {
  height:200px;
  background-color: #555;
  background-image: url("file:///C:/Users/Stuart/Desktop/Nathan%20D%20Website/nddj/img/footer-bg.png");
  background-size: 50%;
}

/* CSS HELPERS */

hr {
  border-top:1px solid #ddd;
}

.center {
  text-align:center;
}

.justify {
  text-align:justify;
}

.width-100 {
  width:100%;
}

.margin-top-25 {
  margin-top:25px;
}

.margin-bottom-25 {
  margin-bottom:25px;
}

.rates-info {
  padding: 10px;
}
